{% extends "base.html" %}

{% block content %}
    <h1>Gifs</h1>
    <table style="width:100%">
    <tr>
      <th></th>
      <th>Gif</th>
      <th>Upload Time</th>
      <th>Size (Bytes)</th>
      <th></th>
    </tr>
    {% for gif in gifs %}
    <tr>
    <td><img src="/static/gifs/{{gif.name}}" alt="{{gif.name}}" height=64 width=64> </td>
    <td>{{ gif.name }}</td>
    <td>{{ moment(gif.timestamp).format('L LT') }}</td>
    <td>{{ gif.filesize }}</td>
    <td>
      <form action="{{ url_for('delete_gif', gif_id=gif.id) }}" method=post>
        <input type=submit value=X>
      </form>
    </td>
    </tr>
    {% endfor %}
{% endblock %}